html, body, #root {
    margin: 0;
    height: 100vh;
}

body{
    padding: 10px;
}

/* Hide the default radio circle */
#date-period-radio-items input[type="radio"] {
    display: none;
}

button{
    background-color: #007BFF !important;
    color: white;
}

/* Style the label as buttons */
#date-period-radio-items label {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    background-color: #007BFF; /* Button background color */
    color: white; /* Button text color */
    border: 1px solid #007BFF; /* Button border */
    border-radius: 4px; /* Button border radius */
    cursor: pointer; /* Pointer cursor on hover */
}

/* Style for selected label */
#date-period-radio-items label:has(input:checked) {
    background-color: #00254d; /* Selected button background color */
    border-color: #0056b3; /* Selected button border color */
}