:root {
  --main-color: #ff4292;
  --secondary-color: #f9d8e6;
  --background-color: #f5f5f5;
  --color-grey-light: #e9e9e9;
  --color-grey-dark: #aaa;
  --font-size: 16px;
  --border-radius: 5px;
}

html,
body,
#root {
  margin: 0;
  height: 100vh;
}

body {
  padding: 0 50px;
  background-color: var(--background-color);
}

.main-container {
  height: calc(100vh - 105px);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#page_title {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

#page-content {
  display: flex;
  flex: 1;
  height: calc(100vh - 125px);
  margin: 0px;
  padding: 0px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

#error_message {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#loading {
  height: calc(100vh - 105px);
  width: 100%;
}

#predictoors_container .show-hide {
  display: none;
}

.date-period-radio-items{
  margin-right: 2px;
}

/* Hide the default radio circle */
.date-period-radio-items input[type="radio"] {
  display: none;
}

#feeds_page_table,
#predictoors_page_table {
  width: 100%;
  overflow-x: auto;
  height: 100%;
  padding-bottom: 20px; /* Add some space at the bottom of the table for scroll */
}

#feeds_page_table table,
#predictoors_page_table table {
  table-layout: auto;
}

#feeds_page_table table td::before,
#predictoors_page_table table td::before {
  content: "";
  display: block;
  width: 100px;
}

#feeds_page_table table td,
#predictoors_page_table table td{
  padding: 15px 15px;
  text-align: center;
}

#feeds_page_table table th,
#predictoors_page_table table th {
  padding: 15px 0;
}

#feeds_page_table table th .column-actions,
#predictoors_page_table table th .column-actions {
  display: flex;
  align-items: center;
}

#feeds_page_table table th .column-header-name,
#predictoors_page_table table th .column-header-name {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  line-height: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

#feeds_page_table_area:has(> *[data-dash-is-loading="true"]) > #feeds_page_table table td div,
#feeds_page_table_area:has(> *[data-dash-is-loading="true"]) > #feeds_page_table table td input,
#predictoors_page_table_area:has(> *[data-dash-is-loading="true"]) > #predictoors_page_table table td div,
#predictoors_page_table_area:has(> *[data-dash-is-loading="true"]) > #predictoors_page_table table td input 
{
    visibility: hidden;
}

#feeds_page_table_area:has(> *[data-dash-is-loading="true"]) > #feeds_page_table table td,
#predictoors_page_table_area:has(> *[data-dash-is-loading="true"]) > #predictoors_page_table table td {
    position: relative;
    background-color: #f0f0f0;
    color: transparent; /* Hides the text */
    overflow: hidden;
    border-color: transparent !important;
    border-radius: 5px;
    cursor: progress;
}

#feeds_page_table_area:has(> *[data-dash-is-loading="true"]) > #feeds_page_table table td::after,
#predictoors_page_table_area:has(> *[data-dash-is-loading="true"]) > #predictoors_page_table table td::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    animation: shimmer 2s infinite;
}

.metric_unit {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

#feeds_page_metrics_row_wrapper:has(> *[data-dash-is-loading="true"]) .metric_value {
    position: relative;
    display: block;
    background-color: #f0f0f0;
    color: transparent; /* Hides the text */
    overflow: hidden;
    border-color: transparent !important;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    cursor: progress;
}

#feeds_page_metrics_row_wrapper:has(> *[data-dash-is-loading="true"]) .metric_value::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    animation: shimmer 2s infinite;
    top: -30px;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

button {
  background-color: var(--main-color) !important;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: var(--border-radius);
}

button:hover{
  opacity: 0.6;
}

/* Style the label as buttons */
.date-period-radio-items label {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 0 !important;
  margin-left: 10px;
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: bold;
}
.date-period-radio-items label:hover {
  opacity: 0.4;
}

.dropdown button:hover{
  opacity: 0.3;
  border: 1px solid black;
  outline: none;
  transition: none;
}

.dropdown button:hover {
  background-color: transparent; /* Remove option hover background */
  color: inherit;                /* Keep text color unchanged */
}

/* Style for selected label */
.date-period-radio-items label:has(input:checked) {
  opacity: 0.6;
}

.form-check-label,
.form-switch {
  margin: 0;
}

.wrap-with-gap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.table-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-select-all {
  border: 0;
  min-width: 90px;
  font-size: 15px;
  background-color: var(--color-grey-dark);
  border-radius: 3px;
}

.button-clear-all {
  border: 0;
  font-size: 15px;
  background-color: var(--color-grey-dark);
  border-radius: 3px;
}

.show-hide {
  display: none;
}

.tooltip-question-mark {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 10px;
  padding: 0;
  text-align: center;
  color: white;
  background-color: var(--color-grey-dark) !important;
  border: 0px none;
  margin-left: 5px;
}

.ms-auto {
  margin: 0 auto !important;
}

.dropdown-toggle {
  background-color: transparent !important;
  color: var(--color-grey-dark);
  border-color: var(--color-grey-dark);
  border-radius: var(--border-radius);
  padding: 5px 10px;
}

.dropdown-toggle:hover {
  color: black;
}

.filters-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.metrics_row {
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 90%;
}

.input-with-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.dropdown-toggle-container {
  min-width: 130px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabular-main-container {
  height: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  overflow: hidden;
}

.btn-apply-filter {
  width: 100%;
  /* Fallback for browsers that don't support -webkit-fill-available or -moz-available */
  width: -webkit-fill-available;
  /* For Chrome, Safari, and other WebKit-based browsers */
  width: -moz-available;
  /* For Firefox */
  padding: 5px;
  border-radius: var(--border-radius);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#feeds_modal-header,
#predictoors_modal-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#feeds_modal-body,
#predictoors_modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 3.5rem);
  max-width: 100% !important;
}

.modal {
  max-width: 100% !important;
  width: 100%;
  height: 100%;
  margin: 0;
}

.modal-content {
  width: 70%;
  padding: 20px;
  height: auto;
}

.clear_filters_button {
  width: "100px";
  padding: 5px;
  border-radius: var(--border-radius);
}

.header-container{
  height: 100px;
  margin-bottom: 25px;
  border-bottom: 1px solid var(--color-grey-dark);
}

#navbar-container {
  display: flex;
  justify-content: center;
}

#navbar-container .container{
  padding: 0;
}

.nav-link{
  padding: 0 !important;
  font-size: 28px;
  font-weight: bold; 
  margin-right: 20px;
}

.page-layout {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.search-bar-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-grey-dark);
  padding: 5px 10px;
  width: 500px !important;
  text-align: center;
}

.modal-graph-header {
  text-align: center;
}

.modal-graph-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 30px;
}

.modal-graph-item {
  margin: 0 auto;
  display: flex;
  flex: 1 0 50%;
  max-width: calc(50% - 15px);
}

.modal-graph-title {
  font-weight: bold;
  font-size: 20px;
}

#predictoors_modal-body .modal-graph-item, #feeds_modal-body .modal-graph-item{
    margin-bottom: 30px;
}

#available-data-text{
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}

.dash-spreadsheet-container{
  border: 1px solid var(--color-grey-light);
  border-radius: var(--border-radius) !important;
}

td, th{
  border: 0 !important;
  border-bottom: 1px solid var(--color-grey-light) !important;
  padding: 5px 0;
}

th{
  background-color: var(--color-grey-light) !important;
  font-weight: bold !important;
}

.modal-content{
  background-color: var(--background-color);
}
