html, body, #root {
    margin: 0;
    height: 100vh;
}

body{
    padding: 10px;
}

.main-container {
    height: calc( 100vh - 105px );
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#page_title {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

#error_message {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#loading {
    height: calc( 100vh - 105px );
    width: 100%;
}

#predictoors_container .show-hide {
    display: none;
}

/* Hide the default radio circle */
#date-period-radio-items input[type="radio"] {
    display: none;
}

#feeds_page_table {
    width: 100%;
    overflow-x: auto;
    max-height: 60vh;
}

#feeds_page_table table {
    table-layout: auto;
}

#feeds_page_table table td::before {
    content: '';
    display: block;
    width: 100px;
}

#feeds_page_table table td {
    padding: 10px 15px;
    text-align: center;
}

#feeds_page_table table th {
    padding: 5px;
}

#feeds_page_table table th .column-actions {
    display: flex;
    align-items: center;
}

#feeds_page_table table th .column-header-name {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    line-height: 1.5em;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

button{
    background-color: #007BFF !important;
    color: white;
    border: 0;
}

/* Style the label as buttons */
#date-period-radio-items label {
    display: inline-block;
    padding: 5px 14px;
    margin-right: 10px;
    background-color: #007BFF;
    color: white;
    border: 1px solid #007BFF;
    border-radius: 4px;
    cursor: pointer;
}

/* Style for selected label */
#date-period-radio-items label:has(input:checked) {
    background-color: #00254d;
    border-color: #0056b3;
}

.form-check-label, .form-switch{
    margin: 0;
}

.wrap-with-gap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.table-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-select-all {
    border: 0;
    min-width: 90px;
    font-size: 15px;
    background-color: #dedede;
    border-radius: 3px;
}

.button-clear-all {
    border: 0;
    font-size: 15px;
    background-color: #dedede;
    border-radius: 3px;
}

.show-hide {
    display: none;
}

.tooltip-question-mark {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 10px;
    padding: 0;
    text-align: center;
    color: white;
    background-color: #6c757d !important;
    border: 0px none;
    margin-left: 5px;
}

.ms-auto{
    margin: 0 auto !important;
}

.dropdown-toggle{
    background-color: transparent !important;
    color: #aaa;
    border-color: #aaa;
    border-radius: 4px;
    padding: 5px 10px;
}

.dropdown-toggle:hover{
    color: black;
}

#feeds_page_metrics_row {
    display: flex;
    border: 1px solid grey;
    border-radius: 10px;
    justify-content: space-between;
    padding: 10px 40px;
    margin-bottom: 10px;
}
