/*
Copyright 2024 Ocean Protocol Foundation
SPDX-License-Identifier: Apache-2.0
*/
.tooltip-inner {
    width: 700px !important; 
    max-width: 700px !important; /* Adjust the width as needed */
    white-space: pre-wrap; /* Ensures text wraps inside the tooltip */
    background-color: #2b2a26;
    text-align: start;
}

[class*="table-container"]{
    width: 100%;
}
